/* login */
.receiver_logbody {
  background-image: url("https://www.rush.edu/sites/default/files/media-images/Organ-Donation-Facts-OG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 28%;
}
.receiver_logform {
  margin-top: 132px;
  padding: 2% 7%;
  background-color: rgba(2, 5, 7, 0.5);
}

/* register */
.receiver_regbody {
  padding: 5% 20%;
  background-image: url("https://www.rush.edu/sites/default/files/media-images/Organ-Donation-Facts-OG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.receiver_form {
  background-color: rgba(16, 17, 17, 0.404);
  padding: 3%;
  margin-top: 10%;
}
@media screen and (max-width: 768px) {
  .receiver_form {
    margin-top: 30%;
  }
}
.col-form-label {
  color: aliceblue;
}
/* dashboard */
body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  margin: 0;
  background-color: #0d6efd;
  height: 100vh;
  margin-left: -2%;
  padding: 2%;
}

.side {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
a {
  color: #ffffff;
  text-decoration: none;
  padding: 2%;
}

@media screen and (max-width: 768px) {
  .receiver_logbody {
    padding: 5% 1%;
  }
}
/* profile */
.receiverProfile {
  padding: 5% 8%;
}
.receiverProfileBody {
  padding: 6%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  background-color: rgb(239 240 244);
}
.requestbody {
  margin-top: 8%;
  padding: 1% 25%;
}

.requestbodycontent {
  padding: 3% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  background-color: #ebeff58a;
}

@media Screen and (max-width:700px){
  .requestbodycontent {
    margin-top: 36%;
  }

}
.recdash {
  padding-top: 5%;
}
.inputcolor {
  background-color: #ebeff58a;
}
.receiiverhome {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8% 15%;
  background-image: url("https://img.freepik.com/premium-photo/doctors-give-resuscitation-male-patient-emergency-room-cardiac-massage_179755-6101.jpg?w=740");
}
@media Screen and (max-width:755px) {
  .receiiverhomebody {
    margin-top: 25%;
  }
}
.receiiverhomebody {
  font-size: larger;
  padding: 5%;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.445);
}
.receiveredit {
  margin-top: 40px;
  padding: 1% 25%;

}
.receivereditbody {
text-align: center;
  padding: 3% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  background-color: rgb(239 240 244);
}
@media Screen and (max-width:870px)
{
  .receivereditbody{
    margin-top: 60px;
  }
}
.receivereditbody img{
  width: 20%;
  padding: 1%;
}
#alert{
  margin-top: 2%;
  background-color: #181717ab;
  color: #8d0404;
  font-size: large;
  font-weight: bold;
}